#ad-ink-admin .form-error {
    color: #DC3232
}

#ad-ink-admin .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}

#ad-ink-admin [switch] [switch-inner] {
    left: 0;
}

#ad-ink-admin .active[switch] {
    --bg-opacity: 1;
    background-color: #17E5EA;
    background-color: rgba(23, 229, 234, var(--bg-opacity));
}

#ad-ink-admin .active[switch] [switch-inner] {
    left: calc(100% - 1.5rem);
}

#ad-ink-admin [mini-player] [mini-player-position]:not(.active):hover {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity));
    cursor: pointer;
}

#ad-ink-admin [mini-player] .active[mini-player-position] {
    --bg-opacity: 1;
    background-color: #17E5EA;
    background-color: rgba(23, 229, 234, var(--bg-opacity));

    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity));
}

#ad-ink-admin [header] a:focus {
    box-shadow: none !important;
    outline: none !important;
}

#ad-ink-admin .form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

#ad-ink-admin .form-select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23a0aec0'%3e%3cpath d='M15.3 9.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z'/%3e%3c/svg%3e");
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    background-repeat: no-repeat;
    background-color: #fff;
    border-color: #e2e8f0;
    border-width: 1px;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-right: 2.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-position: right 0.5rem center;
    background-size: 1.5em 1.5em;
    max-width: inherit;
}

#ad-ink-admin .fill-current {
    fill: currentColor;
}

#ad-ink-admin .ratio-16-9:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

#ad-ink-admin .group:hover .group-hover\:opacity-100 {
    opacity: 1;
}

#ad-ink-admin .inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#ad-ink-admin .left-0 {
    left: 0;
}

#ad-ink-admin .right-0 {
    right: 0;
}

#ad-ink-admin .bottom-0 {
    bottom: 0;
}

#ad-ink-admin .svg-inline--fa.fa-w-16 {
    width: 1em;
}

#ad-ink-admin .mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

#ad-ink-admin .duration-100 {
    transition-duration: 75ms;
}

#ad-ink-admin .ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

#ad-ink-admin .transition-transform {
    transition-property: transform;
}

#ad-ink-admin .origin-top-left {
    transform-origin: top left;
}

#ad-ink-admin .pointer-events-none {
    pointer-events: none;
}

#ad-ink-admin .grid {
    display: grid;
}

#ad-ink-admin .grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

#ad-ink-admin .mr-2 {
    margin-right: .5rem;
}

.ad-ink-btn-green {
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-color: transparent;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 0.25rem;
    background-color: #17E5EA;
    color: #ffffff;
    transition-property: all;
}

.ad-ink-btn-white {
    padding: 0.5rem 1rem;
    border-width: 1px;
    border-color: transparent;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 0.25rem;
    color: #a0aec0;
    transition-property: all;
    background-color: #e2e8f0;
}

#ad-ink-admin .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em;
}

#ad-ink-admin .svg-inline--fa.fa-w-10 {
    width: .625em;
}

#ad-ink-admin .svg-inline--fa.fa-w-11 {
    width: .6875em;
}

#ad-ink-admin .svg-inline--fa.fa-w-12 {
    width: .75em;
}

#ad-ink-admin .svg-inline--fa.fa-w-13 {
    width: .8125em;
}

.svg-inline--fa.fa-w-14 {
    width: .875em;
}

#ad-ink-admin .svg-inline--fa.fa-w-15 {
    width: .9375em;
}

#ad-ink-admin .svg-inline--fa.fa-w-16 {
    width: 1em;
}

#ad-ink-admin .ratio-16-9:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

#ad-ink-admin .h-55 {
    height: 13.75rem;
}

#ad-ink-admin .w-98 {
    width: 24.5rem;
}

#ad-ink-admin .w-28 {
    width: 7rem;
}